/* You can add global styles to this file, and also import other style files */
:root {
  --bg-color: #fff;
}
[data-theme="dark"] {
  --bg-color: #222;
}
body {
  background-color: var(--bg-color);
}
